*{
    padding: 0%;
    margin: 0%;
}
.header{
    width: 100%;
    height: 7vw;
    background-color: white;
    opacity: 0.9;
    z-index: -1;
    
}
.logo{
    position: absolute;
    width: 10vw;
    height: 6vw;
    margin-left:0.6vw;
    margin-top: 0.5vw;
}
.name{
    position: absolute;
    font-size: 2.5rem;
    margin-left: 11vw;
    margin-top: 2vw;
}
.linkbar{
    position: absolute;
    margin-top: 3vw;
    margin-left: 35vw;
}
ul{
    display: flex;
    list-style: none;
    margin-right: 3vw;
}
a{
    text-decoration: none;
    color:black;
    border-radius: 2vw;
    padding: 3px 22px;
    font-family: "Gill Sans", sans-serif;
    font-size: 1.2rem;
}

.icon{
    position: absolute;
    margin-left: 80vw;
    margin-top: 5vw;
    
}
.rn{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.face{
    font-size: 2rem;
    color: white;
    background-color: blue;
    border: 1px solid black;
    padding: 5px 13px;
    border-radius: 5vw;
}
.twit{
    font-size: 2rem;
    color: white;
    background-color: blue;
    border: 1px solid black;
    padding: 6px 8px;
    border-radius: 5vw;
}
.insta{
    font-size: 2rem;
    color: white;
    background-color: blue;
    border: 1px solid black;
    padding: 6px 9px;
    border-radius: 5vw;
}
.lin{
    font-size: 2rem;
    color: white;
    background-color: blue;
    border: 1px solid black;
    padding: 6px 9px;
    border-radius: 5vw;
}

.text{
    position: absolute;
    margin-left: 95vw;
    margin-top: 3vw;
    display: none;
    
}

.carousel-item{
    width: 100%;
    height: 40vw;
}
.mix{
    width: 100%;
    
}
.box{
    margin-top: 4vw;
    margin-left: 5vw;
    width: 41vw;
    height: 44vw;
    border-radius: 1vw;
    border: 2px solid black;
}
#paira{
    font-size: 2rem;
    text-align: center;
    margin-top: 1vw;
}
#box1{
    width: 35vw;
    height: 16vw;
    margin-top: 3vw;
    margin-left: 2.5vw;
}
.box2{
margin-top: 2vw;
margin-left: 1vw;
}
.boxl{
    float: right;
    margin-top: -44vw;
    margin-right: 5vw;
    width: 40vw;
    height: 44vw;
    border-radius: 1vw;
    border: 2px solid black;
}
#about{
    text-align: center;
    font-size: 2rem;
    margin-top: 1vw;
}
.boxl1{
    margin-left: 10vw;
    margin-top: 2vw;
    width: 15zvw;
}
#about1{
    text-align: center;
    font-size: 1.5rem;
}
.boxl2{
    margin-left: 1vw;
    margin-top: 2vw;
}

.know{
    margin-top: 2vw;
    margin-left: 16vw;
    color: blue;
}

.our{
    width: 100%;
    height: 70vw;
    margin-top: 2vw;
}  
.our1{
    position: absolute;
    margin-top: 2vw;
    font-size: 2rem;
    margin-left: 40vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}  
   
.main{
    position: absolute;
    margin-top: 8vw;
    display: flex;
    margin-left: 2vw;
    
}
.main1{
    width: 20vw;
    height: 22vw;
    border: 1px solid seashell;
    border-radius: 1vw;
    box-shadow: whitesmoke 3px 3px 3px 3px;

    margin-left: 3vw;
}
.box-img{
    width: 19vw;
    height: 16vw;
    border-radius: 1vw;
    margin-top: 0.3vw;
    margin-left: 0.3vw;
}
.img{
    width: 225px;
    margin-left: 1vw;
    border-radius: 2vw;
}



.sec{
    position: absolute;
    display: flex;
    margin-left: 2vw;
    margin-top: 33vw;
    
}
.sec1{
    width: 20vw;
    height: 22vw;
    border: 1px solid seashell;
    border-radius: 1vw;
    box-shadow: whitesmoke 3px 3px 3px 3px;
    margin-left: 3vw;
}


.main1:hover{
    
    border: 3px solid rgb(179, 74, 74);
}

.sec1:hover{
    border: 3px solid rgb(179, 74, 74) ;
}
.manu{
    width: 100%;
    height: 4vw;
}
.foot{
    position: absolute;
    margin-top: 50vw;
    width: 100%;
    height: 30vw;
    background-color: rgb(25, 22, 36);
}
.foot1{
    position: absolute;
    margin-top: 18vw;
    margin-left: 2.5vw;
    
}
.foot2{
    position: absolute;
    color: white;
    
}
#foot21{
    font-size: 2rem;
    margin-top: 3vw;
    margin-left: 32vw;
}
#foot22{
    margin-left: 32vw;
    font-size: 1.1rem;
}
.foot3{
    position: absolute;
    color: white;
}
#foot31{
    margin-left: 70vw;
    margin-top: 3vw;
    font-size: 2rem;
}
.fa-home{
    margin-left: 73vw;
    font-size: 3vw;
}
#foot32{
    margin-left: 76vw;
    margin-top: -1.6vw;
    font-size: 1.3rem;
}
#foot33{
    margin-left: 76vw;
    
    font-size: 1.3rem;
}
#foot34{
    margin-left: 73vw;
    font-size: 2.5vw;   
}
#foot35{
    margin-left: 76vw;
    margin-top: -1.8vw;
    font-size: 1.3vw;   
}
#foot36{
    margin-left: 74.5vw;
    margin-top: 1vw;
    position: absolute;
    color: blue ;
      
}
.foot4{
    position: absolute;
    margin-top: 3vw;
    margin-left: 10vw;
}
#foot41{
    width: 8vw;
    border-radius: 18vw;
}
#foot42{
    color: white;
    font-size: 2.3rem;
    margin-left: -6vw;
    margin-top: 2vw;
   
    
}




/* ==========================about========================================== */

.sch-ab{
    position: absolute;
    width: 100%;
    height: 60vw;
    background-color: bisque;
}
.ab{
    margin-top: 4vw;
    margin-left: 40vw;
    font-size: 2.5rem;
}


/* ===============contact================================================== */

.sch-co{
    position: absolute;
    width: 100%;
    height: 60vw;
    background-color: bisque;
}
.co{
    margin-top: 4vw;
    margin-left: 40vw;
    font-size: 2.5rem;
}








/* =======================iphone 5/se================================== */

@media only screen and (min-width:319px) and (max-width:355px) and (orientation:portrait) {

    .header{
        height: 15vw;
    }
    .linkbar{
        display: none;
    }
    .icon{
        display:none;
    }
    .logo{
        width: 17vw;
        height: 14vw;
        
    }
    .rn{
        margin-left: -4vw;
        margin-top: 2vw;
        width: 76vw;
        position: absolute;
    }
    .name{
        margin-top: 2vw;
        margin-left: 23vw;
        font-size: 1.4rem;
    }
    .text{
        margin-left: 87vw;
        margin-top: 3vw;
        display: block;
        
    }
    .box{
        width: 90vw;
        height: 211vw;
        border-radius: 2vw;
    }
    #paira{
        font-size: 5vw;
    }
    #box1{
        width: 84vw;
        height: 38vw;
        border-radius: 1vw;
    }
    .boxl{
        width: 90vw;
        height: 224vw;
        margin-top: 5vw;
        border-radius: 2vw;
    }
    .boxl1{
        width: 67vw;
    }
    .box12{
        margin-top: 5vw;
    }
    #about{
        font-size: 1.5rem;
    }
    #about1{
        font-size: 1rem;
        margin-top: 3vw;
    }
    .know{
        margin-left: 27vw;
    }
    .our{
        margin-top: 14vw;
    }
    .our1{
        margin-top: 224vw;
        font-size: 1.3rem;
        margin-left: 26vw;
    }
    .main{
        display: block;
        margin-top: 231vw;
    }
    .main1{
        width: 90vw;
        height: 90vw;
        border-radius: 4vw;
        margin-top: 8vw;
    }
    .box-img{
        width: 87vw;
        height: 69vw;
        margin-top: 0.5vw;
        margin-left: 0.5vw;
        border-radius: 3vw;
    }
    .sec{
        display: block;
        margin-top: 631vw;
    }
    .sec1{
        width: 90vw;
        height: 90vw;
        border-radius: 4vw;
        margin-top: 8vw;
    }
    .foot{
        height: 276vw;
        margin-top: 1002vw;
    }
    
    .foot1{
        position: absolute;
        display: block;
        margin-top: 253vw;
        margin-left: 2vw;
    }

    .foot2{
        position: absolute;
        color: white;
        margin-left: 4vw;
        
    }
    #foot21{
        font-size: 1.8rem;
        margin-top: 84vw;
        margin-left: 3vw;
    }
    #foot22{
        margin-left: 3vw;
        font-size: 0.9rem;
    }
    
    #foot31{
        margin-left: 7vw;
        margin-top: 151vw;
        font-size: 1.7rem;
    }
    .fa-home{
        margin-left: 9vw;
        font-size: 14vw;
    }
    #foot32{
        margin-left: 26vw;
        margin-top: -8.6vw;
        font-size: 1.3rem;
    }
    #foot33{
        margin-left: 26vw;
        
        font-size: 1.3rem;
    }
    #foot34{
        margin-left: 10vw;
        font-size: 11.5vw;   
    }
    #foot35{
        font-size: 5vw; 
        margin-top: -6.8vw; 
        margin-left: 22vw; 
      
 }
 #foot36{
     margin-left: 32vw;
     margin-top: -12vw;
     font-size: 13px;
     color: blue;


 }
    
    #foot41{
        width: 60vw;
        border-radius: 35vw;
        margin-left: 10vw;
    }
    #foot42{
        color: white;
        font-size: 1.7rem;
        margin-top: 2vw;
        margin-left: 1vw;
       
        
    }
    .face{
        font-size: 1.5rem;
        padding: 4px 10px;
    }
    .twit{
        font-size: 1.5rem;
        padding: 4px 6px;
        margin-left: -4vw;
    }
    .insta{
        font-size: 1.5rem;
        padding: 4px 7px;
        margin-left: -2vw;
    }
    .lin{
        font-size: 1.5rem;
        padding: 4px 6.5px;
        margin-left: -2vw;
       
    }
    .raj{
        font-size: 2.3rem;
    }
    .co{
        font-size: 1.5rem;
        margin-left: 26vw;
    }
}













/* =======================gailexy====================================== */

@media only screen and  (min-width:360px) and (orientation:portrait) {
    .header{
        height: 13vw;
    }
    .linkbar{
        display: none;
    }
    .icon{
        display:none;
    }
    .logo{
        width: 13vw;
        height: 12vw;
        
    }
    .linkabout{
        display: none;
    }
    .sch-ab{
        margin-top: 1vw;
        height: 190vw;
    }
    .ab{
        font-size: 1.3rem;
        margin-left: 27vw;
    }
    .sch-co{
        margin-top: 1vw;
        height: 190vw;
    }
    .co{
        position: absolute;
        font-size: 1.5rem;
        margin-left: 32vw;
    }
    .name{
        margin-top: 2vw;
        margin-left: 23vw;
        font-size: 1.4rem;
    }
    .text{
        margin-left: 89vw;
        margin-top: 3vw;
        display: block;
        
    }
    .box{
        width: 90vw;
        height: 180vw;
        border-radius: 2vw;
    }
    #paira{
        font-size: 5vw;
    }
    #box1{
        width: 84vw;
        height: 38vw;
        border-radius: 1vw;
    }
    .boxl{
        width: 90vw;
        height: 203vw;
        margin-top: 5vw;
        border-radius: 2vw;
    }
    .boxl1{
        margin-left: 7vw;
    }
    .box12{
        margin-top: 5vw;
    }
    #about{
        font-size: 1.5rem;
    }
    #about1{
        font-size: 1rem;
        margin-top: 3vw;
    }
    .know{
        margin-left: 27vw;
    }
    .our1{
        margin-top: 224vw;
        font-size: 1.3rem;
        margin-left: 26vw;
    }
    .main{
        display: block;
        margin-top: 231vw;
    }
    .main1{
        width: 90vw;
        height: 90vw;
        border-radius: 4vw;
        margin-top: 8vw;
    }
    .box-img{
        width: 87vw;
        height: 69vw;
        margin-top: 0.5vw;
        margin-left: 0.5vw;
        border-radius: 3vw;
    }
    .sec{
        display: block;
        margin-top: 631vw;
    }
    .sec1{
        width: 90vw;
        height: 90vw;
        border-radius: 4vw;
        margin-top: 8vw;
    }
    .foot{
        height: 258vw;
        margin-top: 1002vw;
    }
    .foot1{
        position: absolute;
        display: block;
        margin-top: 238vw;
        margin-left: 10vw;
    }

    .foot2{
        position: absolute;
        color: white;
        margin-left: 4vw;
        
    }
    #foot21{
        font-size: 2rem;
        margin-top: 84vw;
        margin-left: 3vw;
    }
    #foot22{
        margin-left: 3vw;
        font-size: 1rem;
    }
    .foot3{
        position: absolute;
        color: white;
        margin-top: 144vw;
    }
    #foot31{
        margin-left: 7vw;
        margin-top: 3vw;
        font-size: 2rem;
    }
    .fa-home{
        margin-left: 9vw;
        font-size: 14vw;
    }
    #foot32{
        margin-left: 26vw;
        margin-top: -8.6vw;
        font-size: 1.3rem;
    }
    #foot33{
        margin-left: 26vw;
        
        font-size: 1.3rem;
    }
    #foot34{
        margin-left: 10vw;
        font-size: 9.5vw;   
    }
    #foot35{
        margin-left: 21vw;
        margin-top: -5.8vw;
        font-size: 1rem;   
    }
    #foot36{
        margin-top: -11.2vw;
        font-size: 1rem;
        margin-left: 30vw;
        position: absolute;
        color:blue;
          
    }
    .foot4{
        position: absolute;
        margin-top: 3vw;
        margin-left: 10vw;
    }
    #foot41{
        width: 60vw;
        border-radius: 35vw;
        margin-left: 10vw;
    }
    #foot42{
        color: white;
        font-size: 2rem;
        margin-left: -1vw;
        margin-top: 2vw;
       
        
    }
    .face{
        font-size: 1.5rem;
        padding: 4px 10px;
        margin-left: -4vw;
    }
    .twit{
        font-size: 1.5rem;
        padding: 4px 6px;
        margin-left: -2vw;
    }
    .insta{
        font-size: 1.5rem;
        padding: 4px 7px;
        margin-left: -2vw;
    }
    .lin{
        font-size: 1.5rem;
        padding: 4px 6.5px;
        margin-left: -2vw;
       
    }
    .raj{
        font-size: 2rem;
    }
}
@media only screen and  (max-width:640px) and (orientation:landscape) {
    .header{
        height: 13vw;
    }
    
    .icon{
        display:none;
    }
    .logo{
        width: 13vw;
        height: 11vw;
    }
    .name{
        
        margin-left: 15vw;
    }
    .rn{
        font-size: 1rem;
    }
    a{
        margin: -1vw;
        font-size: 0.7rem;
    }
    .our1{
        margin-left: 36vw;
        font-size: 1.3rem;
    }
    .box{
        width: 43vw;
        height: 111vw;
        border-radius: 2vw;

    }
    #paira{
        font-size: 1rem;
    }
    #box1{
        width: 37vw;
        height: 18vw;
    }
    .boxl{
        width: 43vw;
        height: 111vw;
        margin-top: -111vw;
        border-radius: 2vw;

    }
    #about{
        font-size: 1rem;
    }
    .boxl1{
        width: 20vw;
    }
    .ab{
        font-size: 1.5rem;
    }
}




/* ====================pixel 2============================ */
@media only screen and (min-width:361px) and (max-width:412px) and (orientation:portrait) {
    .header{
        height: 13vw;
    }
    .linkbar{
        display: none;
    }
    .icon{
        display: none;
    }
    .logo{
        width: 15vw;
        height: 11vw;
    }
    .name{
        margin-top: 2vw;
        margin-left: 23vw;
        font-size: 1.6rem;
    }
    .text{
        margin-left: 89vw;
        margin-top: 3vw;
        display: block;
        
    }
    .box{
        width: 90vw;
        height: 148vw;
        border-radius: 2vw;
    }
    #paira{
        font-size: 5vw;
    }
    #box1{
        width: 84vw;
        height: 38vw;
        border-radius: 1vw;
    }
    .boxl{
        width: 90vw;
        height: 181vw;
        margin-top: 5vw;
        border-radius: 2vw;
    }
    .boxl1{
        width: 74vw;
    }
    .box12{
        margin-top: 5vw;
    }
    #about{
        font-size: 1.5rem;
    }
    #about1{
        font-size: 1rem;
        margin-top: 3vw;
    }
    .know{
        margin-left: 27vw;
    }
    .our{
        margin-top: 17vw;
    }
    .our1{
        margin-top: 191vw;
        margin-left: 28vw;
        font-size: 1.5rem;

    }
    .main{
        display: block;
        margin-top: 195vw;
    }
    .main1{
        width: 90vw;
        height: 90vw;
        border-radius: 4vw;
        margin-top: 8vw;
    }
    .box-img{
        width: 87vw;
        height: 69vw;
        margin-top: 0.5vw;
        margin-left: 0.5vw;
        border-radius: 3vw;
    }
    .sec{
        display: block;
        margin-top: 586vw;
    }
    .sec1{
        width: 90vw;
        height: 90vw;
        border-radius: 4vw;
        margin-top: 8vw;
    }
    .foot{
        height: 252vw;
        margin-top: 1002vw;
    }
    .foot1{
        position: absolute;
        display: block;
        margin-top: 231vw;
    }
    #foot35{
           font-size: 1.5rem; 
           margin-top: -7.2vw;  
         
    }
    #foot36{
        margin-top: -10.9vw;
        margin-left: 34vw;
        font-size: 1.1rem;
        color: blue;


    }

    .ab{
        font-size: 1.5rem;
        margin-left: 26vw;
    }
    .co{
        font-size: 1.5rem;
        margin-left: 32vw;
    }
    .face{
        font-size: 1.5rem;
        padding: 7px 13px;
        margin-left: -1vw;
    }
    .twit{
        font-size: 1.5rem;
        padding: 7px 9px;
        margin-left: -2vw;
    }
    .insta{
        font-size: 1.5rem;
        padding: 7px 10px;
        margin-left: -2vw;
    }
    .lin{
        font-size: 1.5rem;
        padding: 7px 9px;
        margin-left: -2vw;
       
    }
    .raj{
        font-size: 2.5rem;
    }
}
@media only screen and (min-width:731px) and (max-width:760px) and (orientation:landscape) {
    .header{
        height: 13vw;
    }
    .linkbar{
        margin-left: 39vw;
        margin-top: 1vw;
    }
    .icon{
        display: none;
    }
    .logo{
        width: 15vw;
        height: 11vw;
    }
    .name{
        margin-top: 2vw;
        margin-left: 23vw;
    }
    .text{
        margin-left: 91vw;
        margin-top: 3.5vw;
        display: none;
        
    }
    .rn{
        font-size: 2rem;
        margin-left: -6vw;
        
    }
    
    a{
        margin: -1vw;
        font-size: 0.9rem;
    }
    .box{
        width: 43vw;
        height: 94vw;border-radius: 1vw;

    }
    .our1{
        margin-top: 2vw;
        margin-left: 39vw;
        font-size: 1.3rem;
    }
    #paira{
        font-size: 1rem;
    }
    #box1{
        width: 37vw;
        height: 18vw;
    }
    .boxl{
        width: 43vw;
        height: 94vw;
        margin-top: -94vw;
        border-radius: 1vw;

    }
    #about{
        font-size: 1rem;
    }
    .boxl1{
        width: 20vw;
    }
    .ab{
        font-size: 1.5rem;
    }
    
}


/* ==================iphone 6/7/8 plus============================================= */

@media only screen and (min-width:412px) and (max-width:500vw) and (orientation:portrait){
      
    .header{
        height: 18vw;
    }
    .logo{
        width: 18vw;
        height: 16vw;
    }
    .rn{
        font-size: 1.7rem;
        
    }
    .text {
        display: block;
        margin-left: 87vw;
        margin-top: 5vw;
    }
    .linkbar{
        display: none;
    }
    .box{
        width: 90vw;
        height: 156vw;
        margin-top: 8vw;
    }
    #box1{
        width: 84vw;
        height: 46vw;
    }
    .boxl{
        margin-top: 4vw;
        width: 90vw;
        height: 177vw;
    }
    .boxl1{
        width: 69vw;
    }
    .our{
        margin-top: 190vw;
    }
    .our1{
        margin-left: 30vw;
        margin-top: 1vw;
        font-size: 1.5rem;
    }
    .know{
        margin-left: 30vw;
    }
    .icon{
        display: none;
    }
    .main{
        display: block;
        margin-top: 9vw;
    }
    .main1{
        width: 89vw;
        height: 70vw;
        margin-top: 7vw;
    }
    .ab{
        font-size: 2rem;
        margin-left: 20vw;
    }
    .sec{
        display: block;
        margin-top: 317vw;
    }
    .sec1{
        width: 89vw;
        height: 70vw;
        margin-top: 7vw;
    }
    .box-img{
        width: 87vw;
        height: 46vw;
    }
    .foot{
        margin-top: 569vw;
        height: 262vw;
    }
    .foot1{
        margin-top: 244vw;
        margin-left: 18vw;
    }
    #foot35{
        margin-top: -4.5vw;
    }
    #foot36{
        margin-top: -10.2vw;
        font-size: 1.1rem;
    }

    .face{
        font-size: 1.5rem;
        padding: 7px 13px;
        margin-left: -8vw;
    }
    .twit{
        font-size: 1.5rem;
        padding: 7px 9px;
        margin-left: -2vw;
    }
    .insta{
        font-size: 1.5rem;
        padding: 7px 10px;
        margin-left: -2vw;
    }
    .lin{
        font-size: 1.5rem;
        padding: 7px 9px;
        margin-left: -2vw;
       
    }
    .raj{
        font-size: 3rem;
    }
}


/* =======================iphone X========================================== */
@media only screen and (min-width:374px) and (max-width:380px) and (orientation:portrait){
    .box{
        height: 174vw;
    }
    .boxl{
        height: 197vw;
    }
    .our{
        margin-top: 12vw;
    }
    #foot35{
        font-size: 1.2rem;
        margin-top: -7.2vw;
    }
    #foot36{
        margin-top: -10.9vw;
        margin-left: 32vw;
        font-size: 1rem;
    }
    .face{
        margin-left: -5vw;

    }
    .text{
        margin-left: 88vw;
    }
    .raj{
        font-size: 2.4rem;
    }
   
}


/* ===========================ipad======================================== */

@media only screen and (min-width:765px) and (max-width:770px) and (orientation:portrait){
    .header{
        height: 20vw;
    }
    .logo{
        width: 21vw;
        height: 19vw;
    }
    .rn{
        font-size: 3rem;
        position: absolute;
        width: 66vw;
        margin-top: 4vw;
    
    }
    .box{
        height: 177vw;
    }
    #paira{
        font-size: 7vw;
    }
    .box2{
        font-size: 2rem
    }
    .know{
        margin-left: 32vw;
            font-size: 2rem;
            margin-top: 7vw;
    }
    #about{
        font-size: 3.5rem;
    }
    #about1{
        font-size: 2rem;
    }
    .boxl{
        height: 189vw;
    }
    .boxl1{
        width: 72vw;
    }
    .boxl2{
        font-size: 2rem;
    }
    .our1{
        font-size: 3rem;
        margin-top: 200vw;
    }
    .main{
        margin-top: 207vw;
    }
    .box-img{
        width: 88vw;
    }
    .text{
        margin-left: 85vw;
    }
    .ab{
        font-size: 3.5rem;
        margin-left: 23vw;
    }
    .co{
        font-size: 2.5rem;
    }
    .foot{
        height: 253vw;
    }
    .foot1{
        margin-top: 233vw;
    }
    #foot21{
        font-size: 4rem;
        margin-left: 4vw;
    }
    #foot22{
        font-size: 2rem;
        margin-left: 4vw;
    }
    #foot31{
        font-size: 4rem;
        margin-left: 8vw;
    }
    #foot32{
        font-size: 2.7rem;
        
    }
    #foot33{
        font-size: 2.7rem;
        
    }
    #foot35{
        font-size: 3rem;
        margin-top: -8.5vw;
    }
    #foot36{
        margin-top: -9vw;
        margin-left: 38vw;
        font-size: 2rem;

        
    }
    #foot42{
        font-size: 4rem;
        margin-left: 1vw;
        
    }
    .face{
        font-size: 3.5rem;
        padding: 11px 25px;
        margin-left: -8vw;
    }
    .twit{
        font-size: 3.5rem;
        padding: 11px 14px; 
        margin-left: 3vw;
    }
    .insta{
        font-size: 3.5rem;
        padding: 11px 17px;
        margin-left: 3vw;
    }
    .lin{
        font-size: 3.5rem;
        padding: 11px 17px;
        margin-left: 3vw;
       
    }
    .raj{
        font-size: 6.5rem;
    }
}



/* ================================ipad pro========================== */


@media only screen and (min-width:990px) and (max-width:1030px) and (orientation:portrait) {
    .header{
        height: 13vw;
    }
    .logo{
        width: 14vw;
        height: 12vw;
    }
    .rn{

        font-size: 5rem;
    
    }
    .linkbar{
        display: none;
    }
    .icon{
        display: none;
    }
    .text{
        display: block;
        margin-top: 3vw;
        margin-left: 89vw;
    }
    .box{
        
        height: 64vw;
        width: 41vw;
        border-radius: 1vw;
    }
    #paira{
        font-size: 3vw;
    }
    #box1{
        width: 36vw;
        height: 17vw;
    }
    .boxl{
        margin-top: -64vw;
        height: 64vw;
        width: 40.3vw;
        border-radius: 1vw;
        
    }
    #about{
        font-size: 3vw;
    }
    .boxl1{
        margin-top: 0%;
        width: 19vw;
        margin-left: 10vw;
    }
    .know{
        margin-left: 14vw;
        font-size: 1.3rem;
    }
    .our{
        margin-top: 4vw;
    }
    .our1{
        font-size: 3rem;
        margin-top: 6vw;
        margin-left: 31vw;
    }
    .ab{
        font-size: 4.2rem;
        margin-left: 25vw;
    }
    .co{
        font-size: 3.5rem;
    }
    .foot{
        height: 242vw;
    }
    .foot1{
        margin-top: 222vw;
    }
    
    #foot21{
        font-size: 5rem;
        margin-left: 4vw;
    }
    #foot22{
        font-size: 2.7rem;
        margin-left: 4vw;
    }
    #foot31{
        font-size: 5rem;
        margin-left: 8vw;
    }
    #foot32{
        font-size: 3rem;
        
    }
    #foot33{
        font-size: 2.7rem;
        
    }
    #foot35{
        font-size: 3rem;
        margin-top: -6vw;
        
    }
    #foot36{
        font-size: 2.4rem;
        margin-top: -7vw;
        margin-left: 35vw;
        
    }
    #foot42{
        font-size: 5rem;
        margin-left: 3vw;
        
    }
    .face{
        font-size: 4.5rem;
        padding: 10px 27px;
        margin-left: -2vw;
    }
    .twit{
        font-size: 4.5rem;
        padding: 11px 14px; 
        margin-left: 3vw;
    }
    .insta{
        font-size: 4.5rem;
        padding: 11px 17px;
        margin-left: 3vw;
    }
    .lin{
        font-size: 4.5rem;
        padding: 11px 17px;
        margin-left: 3vw;
       
    }
    .raj{
        font-size: 6rem;
    }
}
@media only screen and (min-width:1360px) and (max-width:1370px) and (orientation:landscape) {
  .box{
      height: 49vw;
      border-radius: 1vw;
  } 
  .boxl{
      width: 42vw;
      height: 49vw;
      margin-top: -49vw;
      border-radius: 1vw;
  }     
}


@media only screen and (min-width:798px) and (max-width:900px) and (orientation:landscape){
    
    .icon{
        display: none;
    }
    .header{
        height: 11vw;
    }
    .logo{
        width: 11vw;
        height: 9vw;
    }
    a{
        font-size: 0.8rem;
    }
    .rn{
        position: absolute;
        margin-left: 2vw;
        font-size: 1.5rem;
        width: 62vw;
        margin-top: 3vw;
    }
    .box{
        width: 43vw;
        height: 86vw;
    }
    #box1{
        width: 38vw;
        height: 19vw;
    }
    .know{
        margin-left: 13vw;
    }
    .boxl{
        width: 43vw;
        height: 86vw;
        margin-top: -86vw;
    }
    .boxl1{
        width: 23vw;
    }
}

@media only screen and (min-width:660px) and (max-width:729px) and (orientation:landscape){
  .header{
      height: 11vw;
  }
  .logo{
      width: 12vw;
      height: 10vw;
  }
  .rn{
      font-size: 2rem;
      margin-left: 3vw;
  }
  a{
      font-size: 0.8rem;
  }
  .icon{
      display: none;
  }
  ul{
      margin-left: 11vw;
  }
  li{
      margin: -2vw;
  }
  .box{
      height: 109vw;
  }
  .boxl{
      height: 109vw;
      margin-top: -109vw;
  }
  .boxl1{
      width: 22vw;
  }
  .know{
      margin-left: 13vw;
  }
  .our1{
      font-size: 1.5rem;
      margin-left: 35vw;
  }
  .main{
      margin-top: 10vw;
  }
  .sec{
      margin-top: 36vw;
  }
}

@media only screen and (min-width:761px) and (max-width:797px) and (orientation:landscape){
    .header{
        height: 11vw;
    }
    .logo{
        width: 12vw;
        height: 10vw;
    }
    .rn{
        font-size: 2rem;
        margin-left: 3vw;
    }
    a{
        font-size: 1rem;
    }
    .icon{
        display: none;
    }
    ul{
        margin-left: 11vw;
    }
    li{
        margin: -2vw;
    } 
}
