*{
    padding: 0%;
    margin: 0%;
}
.logo{
    position: absolute;
    width: 10vw;
    height: 8.5vw;
    margin-left:0.6vw;
    margin-top: -4.3vw;
    border-radius: 18vw;
}
.rn{
    margin-left: 12vw;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar{
    height: 9vw;
}
.navbar-nav{
    margin-left: 1vw;
}
.nav-link{
    margin-left: 2vw;
    font-size: 1.5rem;
    
}
.icon{
    position: absolute;
    margin-left: 82vw;
    margin-top: -5vw;
}
a{
    text-decoration: none;
}
.for{
    font-size: 1.8rem;
    margin-left: 2vw;
    color: black;
}

.face{
    font-size: 2rem;
    color: white;
    background-color:#393942;
    border: 1px solid black;
    padding: 5px 13px;
    border-radius: 5vw;
    margin-left: 2vw;
}
.twit{
    font-size: 2rem;
    color: white;
    background-color:#393942;
    border: 1px solid black;
    padding: 6px 8px;
    border-radius: 5vw;
    margin-left: 2vw;
}
.insta{
    font-size: 2rem;
    color: white;
    background-color:#393942;
    border: 1px solid black;
    padding: 6px 9px;
    border-radius: 5vw;
    margin-left: 2vw;
}
.lin{
    font-size: 2rem;
    color: white;
    background-color:#393942;
    border: 1px solid black;
    padding: 6px 9px;
    border-radius: 5vw;
    margin-left: 2vw;
}
.carousel-item{
    width: 100%;
    height: 40vw;
}
.mix{
    width: 100%;
    
}
.box{
    margin-top: 4vw;
    margin-left: 5vw;
    width: 41vw;
    height: 44vw;
    border-radius: 1vw;
    border: 2px solid black;
}
#paira{
    font-size: 2rem;
    text-align: center;
    margin-top: 1vw;
}
#box1{
    width: 35vw;
    height: 16vw;
    margin-top: 3vw;
    margin-left: 2.5vw;
    border-radius: 0.5vw;
}
.box2{
margin-top: 2vw;
margin-left: 1vw;
}
.boxl{
    float: right;
    margin-top: -44vw;
    margin-right: 5vw;
    width: 40vw;
    height: 44vw;
    border-radius: 1vw;
    border: 2px solid black;
}
#about{
    text-align: center;
    font-size: 2rem;
    margin-top: 1vw;
}
.boxl1{
    margin-left: 11vw;
    margin-top: 2vw;
    width: 15zvw;
}
#about1{
    text-align: center;
    font-size: 1.5rem;
}
.boxl2{
    margin-left: 1vw;
    margin-top: 2vw;
}

.know{
    margin-top: 2vw;
    margin-left: 16vw;
    color: blue;
}

.our{
    width: 100%;
    height: 70vw;
    margin-top: 2vw;
}  
.our1{
    position: absolute;
    margin-top: 2vw;
    font-size: 2rem;
    margin-left: 40vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}  
   
.main{
    position: absolute;
    margin-top: 8vw;
    display: flex;
    margin-left: 2vw;
    
}
.main1{
    width: 20vw;
    height: 22vw;
    border: 1px solid seashell;
    border-radius: 1vw;
    box-shadow: whitesmoke 3px 3px 3px 3px;

    margin-left: 3vw;
}
.box-img{
    width: 19vw;
    height: 16vw;
    border-radius: 1vw;
    margin-top: 0.3vw;
    margin-left: 0.3vw;
}
.img{
    width: 225px;
    margin-left: 1vw;
    border-radius: 2vw;
}



.sec{
    position: absolute;
    display: flex;
    margin-left: 2vw;
    margin-top: 33vw;
    
}
.sec1{
    width: 20vw;
    height: 22vw;
    border: 1px solid seashell;
    border-radius: 1vw;
    box-shadow: whitesmoke 3px 3px 3px 3px;
    margin-left: 3vw;
}
.foot{
    position: absolute;
    margin-top: 50vw;
    width: 100%;
    height: 30vw;
    background-color: rgb(25, 22, 36);
}
.foot1{
    position: absolute;
    margin-top: 18vw;
    margin-left: 2.5vw;
    
}
.foot2{
    position: absolute;
    color: white;
    margin-left: 4vw;
    
}
#foot21{
    font-size: 3rem;
    margin-top: 3vw;
    margin-left: 32vw;
}
#foot22{
    margin-left: 32vw;
    font-size: 1.5rem;
    font-family: inherit;
}
.foot3{
    position: absolute;
    color: white;
}
#foot31{
    margin-left: 70vw;
    margin-top: 3vw;
    font-size: 3rem;
}
.fa-home{
    margin-left: 73vw;
    font-size: 3rem;
}
#foot32{
    margin-left: 76vw;
    margin-top: -1.6vw;
    font-size: 1.5rem;
}
#foot33{
    margin-left: 76vw;
    
    font-size: 1.5rem;
}
#foot34{
    margin-left: 73.5vw;
    font-size: 2.3rem;   
}
#foot35{
    margin-left: 76.2vw;
    margin-top: -2vw;
    font-size: 1.5rem;   
}
#foot36{
    margin-left: 81vw;
    margin-top: -3vw;
    position: absolute;
    font-size: 1.2rem;
    color: rgb(175, 138, 138) ;
      
}

.foot4{
    position: absolute;
    margin-top: 3vw;
    margin-left: 10vw;
}
#foot41{
    width: 8vw;
    border-radius: 18vw;
}
#foot42{
    color: white;
    font-size: 2.3rem;
    margin-left: -6vw;
    margin-top: 2vw;
   
    
}




/* ==========================about========================================== */

.sch-ab{
    width: 100%;
    height: 40vw;
}
.ab{
    margin-left: 40vw;
    font-size: 2.5rem;
}
.ab1{
    margin-left: 15vw;
    width: 70vw;
    height: 30vw;
    border: 2px solid black;
}




/* ===============contact================================================== */

.sch-co{
    width: 100%;
    height: 60vw;
    background-color: bisque;

}
.co{
    margin-left: 40vw;
    font-size: 2.5rem;
}
/* ============================gallery==================================== */
.gallery1{
    font-size: 2rem;
    margin-left: 5vw;
}
/* ============================admission==================================== */
.admi1{
    font-size: 2rem;
    margin-left: 5vw;
    font-style: italic;
}
.admi2{
    font-size: 2rem;
    margin-left: 5vw;
    color: rgb(86, 86, 182);
}
.admi3{
    font-size: 1.5rem;
    margin-left: 5vw;
    color: rgb(109, 48, 48);
}
.admi4{
    font-size: 1.2rem;
    margin-left: 5vw;
    color: rgb(63, 134, 63);
}
.admi5{
    margin-left: 5vw;
    
}
.admi6{
    margin-left: 10vw;
    
}


/* =======================iphone 5/se================================== */

@media only screen and (min-width:300px) and (max-width:320px) and (orientation:portrait) {
   .rahul{
       height: 21vw;
   }
   .navbar{
       height: 21vw;
   }
   .rn{
       margin-left: -7vw;
       font-size: 1.7rem;
   }
   
 .navbar-nav{
    width: 100vw;
    height: 80vw;
    margin-top: 5vw;
    margin-left: -3.8vw;
    background-color: aquamarine;
}
.nav-link{
    text-align: center;
}
    .icon{
        display:none;
    }
    .logo{
        display: none;
        
    }
    
    .box{
        width: 90vw;
        height: 211vw;
        border-radius: 2vw;
    }
    #paira{
        font-size: 5vw;
    }
    #box1{
        width: 84vw;
        height: 38vw;
        border-radius: 1vw;
    }
    .boxl{
        width: 90vw;
        height: 224vw;
        margin-top: 5vw;
        border-radius: 2vw;
    }
    .boxl1{
        width: 67vw;
    }
    .box12{
        margin-top: 5vw;
    }
    #about{
        font-size: 1.5rem;
    }
    #about1{
        font-size: 1rem;
        margin-top: 3vw;
    }
    .know{
        margin-left: 33vw;
    }
    .our{
        margin-top: 14vw;
    }
    .our1{
        margin-top: 224vw;
        font-size: 1.3rem;
        margin-left: 26vw;
    }
    .main{
        flex-direction: column;
        margin-top: 231vw;
    }
    .main1{
        width: 90vw;
        height: 90vw;
        border-radius: 4vw;
        margin-top: 8vw;
    }
    .box-img{
        width: 87vw;
        height: 69vw;
        margin-top: 0.5vw;
        margin-left: 0.5vw;
        border-radius: 3vw;
    }
    .sec{
        display: block;
        margin-top: 631vw;
    }
    .sec1{
        width: 90vw;
        height: 90vw;
        border-radius: 4vw;
        margin-top: 8vw;
    }
    .foot{
        height: 276vw;
        margin-top: 620vw;
    }
    
    .foot1{
        position: absolute;
        display: block;
        margin-top: 253vw;
        margin-left: 2vw;
    }

    .foot2{
        position: absolute;
        color: white;
        margin-left: 4vw;
        
    }
    #foot21{
        font-size: 1.8rem;
        margin-top: 84vw;
        margin-left: 3vw;
    }
    #foot22{
        margin-left: 3vw;
        font-size: 0.9rem;
    }
    
    #foot31{
        margin-left: 7vw;
        margin-top: 151vw;
        font-size: 1.7rem;
    }
    .fa-home{
        margin-left: 9vw;
        font-size: 14vw;
    }
    #foot32{
        margin-left: 26vw;
        margin-top: -8.6vw;
        font-size: 1.3rem;
    }
    #foot33{
        margin-left: 26vw;
        
        font-size: 1.3rem;
    }
    #foot34{
        margin-left: 10vw;
        font-size: 11.5vw;   
    }
    #foot35{
        font-size: 5vw; 
        margin-top: -6.8vw; 
        margin-left: 22vw; 
      
 }
 #foot36{
     margin-left: 38vw;
     margin-top: -12vw;
     font-size: 13px;
 }    
    #foot41{
        width: 60vw;
        border-radius: 35vw;
        margin-left: 10vw;
    }
    #foot42{
        color: white;
        font-size: 1.7rem;
        margin-top: 2vw;
        margin-left: 1vw;
       
        
    }
    .face{
        font-size: 1.5rem;
        padding: 4px 10px;
        margin-left: 14vw;
    }
    .twit{
        font-size: 1.5rem;
        padding: 4px 6px;
        margin-left: 6vw;
    }
    .insta{
        font-size: 1.5rem;
        padding: 4px 7px;
        margin-left: 6vw;
    }
    .lin{
        font-size: 1.5rem;
        padding: 4px 6.5px;
        margin-left: 6vw;
    }
    .sch-ab{
        margin-top: -8vw;
        height: 150vw;
    }
    
    .co{
        font-size: 1.5rem;
        margin-left: 26vw;
    }
    .sch-co{
        height: 150vw;
    }
    .ab{
        margin-left: 25vw;
        font-size: 1.4rem   ;
    }
} 

/* =======================gailexy 5s====================================== */

@media only screen and  (min-width:355px) and (max-width:374px) and (orientation:portrait) {
    .rahul{
        height: 19vw;
    }
    .navbar{
        height: 19vw;
    }
    .navbar-nav{
        width: 100vw;
        height: 80vw;
        margin-top: 4vw;
        margin-left: -3.3vw;
        background-color: aquamarine;
    }
    .nav-link{
        text-align: center;
        border-bottom: 1px solid black;
    }
    .icon{
        display:none;
    }
    .logo{
        display: none;
    }
    .rn{
        margin-left: -3vw;
        font-size: 2rem;
    }
    .sch-ab{
        height: 190vw;
    }
    .ab{
        font-size: 1.3rem;
        margin-left: 27vw;
    }
    .sch-co{
        height: 190vw;
    }
    .co{
        font-size: 1.5rem;
        margin-left: 32vw;
    }
    .box{
        width: 90vw;
        height: 180vw;
        border-radius: 2vw;
    }
    #paira{
        font-size: 5vw;
    }
    #box1{
        width: 84vw;
        height: 38vw;
        border-radius: 1vw;
    }
    .boxl{
        width: 90vw;
        height: 203vw;
        margin-top: 5vw;
        border-radius: 2vw;
    }
    .boxl1{
        margin-left: 7vw;
    }
    .box12{
        margin-top: 5vw;
    }
    #about{
        font-size: 1.5rem;
    }
    #about1{
        font-size: 1rem;
        margin-top: 3vw;
    }
    .know{
        margin-left: 34vw;
    }
    .our1{
        margin-top: 224vw;
        font-size: 1.3rem;
        margin-left: 26vw;
    }
    .main{
        display: block;
        margin-top: 231vw;
    }
    .main1{
        width: 90vw;
        height: 90vw;
        border-radius: 4vw;
        margin-top: 8vw;
    }
    .box-img{
        width: 87vw;
        height: 69vw;
        margin-top: 0.5vw;
        margin-left: 0.5vw;
        border-radius: 3vw;
    }
    .sec{
        display: block;
        margin-top: 631vw;
    }
    .sec1{
        width: 90vw;
        height: 90vw;
        border-radius: 4vw;
        margin-top: 8vw;
    }
    .foot{
        height: 258vw;
        margin-top: 620vw;
    }
    .foot1{
        position: absolute;
        display: block;
        margin-top: 238vw;
        margin-left: 10vw;
    }

    .foot2{
        position: absolute;
        color: white;
        margin-left: 4vw;
        
    }
    #foot21{
        font-size: 2rem;
        margin-top: 84vw;
        margin-left: 3vw;
    }
    #foot22{
        margin-left: 3vw;
        font-size: 1rem;
    }
    .foot3{
        position: absolute;
        color: white;
        margin-top: 144vw;
    }
    #foot31{
        margin-left: 7vw;
        margin-top: 3vw;
        font-size: 2rem;
    }
    .fa-home{
        margin-left: 9vw;
        font-size: 14vw;
    }
    #foot32{
        margin-left: 26vw;
        margin-top: -8.6vw;
        font-size: 1.3rem;
    }
    #foot33{
        margin-left: 26vw;
        
        font-size: 1.3rem;
    }
    #foot34{
        margin-left: 10vw;
        font-size: 9.5vw;   
    }
    #foot35{
        margin-left: 21vw;
        margin-top: -5.8vw;
        font-size: 1rem;   
    }
    #foot36{
        margin-top: -11.4vw;
        font-size: 1rem;
        margin-left: 35vw;
        position: absolute;
        
          
    }
    .foot4{
        position: absolute;
        margin-top: 3vw;
        margin-left: 10vw;
    }
    #foot41{
        width: 60vw;
        border-radius: 35vw;
        margin-left: 10vw;
    }
    #foot42{
        color: white;
        font-size: 2rem;
        margin-left: -1vw;
        margin-top: 2vw;
    }
    .face{
        font-size: 1.5rem;
        padding: 4px 10px;
        margin-left: 9vw;
    }
    .twit{
        font-size: 1.5rem;
        padding: 4px 6px;
        margin-left: 6vw;
    }
    .insta{
        font-size: 1.5rem;
        padding: 4px 7px;
        margin-left: 6vw;
    }
    .lin{
        font-size: 1.5rem;
        padding: 4px 6.5px;
        margin-left: 6vw;
       
    }
    
} 



/* ====================pixel 2============================ */
@media only screen and (min-width:409px) and (max-width:411vw) and (orientation:portrait){
  .rahul{
      height: 19vw;
  }
    .navbar{
    height: 19vw;
}
.navbar-nav{
    margin-left: -1.3vw;
    background-color: aliceblue;
}
.nav-link{
    font-size: 1.7rem;
    text-align: center;
    border-bottom: 1px solid black;
}
.rn{
    font-size: 2.2rem;
    margin-left: -5vw;
}
.logo{
    display: none;
}
.icon{
    display: none;
}
.navbar-toggler-icon{
   width: 9.5vw;
   height: 9.5vw;
}
.box{
    width: 90vw;
    height: 195vw;
}
#box1{
    width: 84vw;
    height: 36vw;
    border: 2px solid black;
}
#paira{
    font-size: 7vw;
}
.box2{
    font-size: 1.2rem
}
.know{
    margin-left: 32vw;
        font-size: 1.2rem;
        margin-top: 7vw;
}
#about{
    font-size: 2rem;
}
#about1{
    font-size: 1.2rem;
}
.boxl{
    width: 90vw;
    height: 176vw;
    margin-top: 8vw;
}
.boxl1{
    width: 35vw;
    margin-left: 27vw;
}
.our{
    margin-top: 14vw;
}
.boxl2{
    font-size: 1.2rem;
}
.our1{
    font-size: 1.5rem;
    margin-top: 200vw;
    margin-left: 26vw;
}
.main{
    margin-top: 207vw;
    display: block;
    margin-left: 4vw;
}
.main1{
    width: 87vw;
    height: 81vw;
    margin-top: 7vw;
}
.box-img{
    width: 86vw;
    height: 55vw;
}
.ab{
    font-size: 3.5rem;
    margin-left: 23vw;
}
.co{
    font-size: 2.5rem;
}
.foot{
    margin-top: 520vw;
    height: 234vw;
}
.foot1{
    margin-top: 215vw;
    margin-left: 13vw;
}
#foot21{
    font-size: 2rem;
    margin-left: 4vw;
    margin-top: 68vw;
}
#foot22{
    font-size: 1rem;
    margin-left: 4vw;
}
#foot31{
    font-size: 2rem;
    margin-left: 8vw;
    margin-top: 126vw;
}
.fa-home{
    margin-left: 8vw;
    font-size: 3.5rem;
}
#foot32{
    font-size: 1.5rem;
    margin-left: 23vw;
    margin-top: -8vw;
    
}
#foot33{
    font-size: 1.5rem;
    margin-left: 23vw;
    
}
#foot34{
    font-size: 2.5rem;
    margin-left: 8vw;
    
}
#foot35{
    font-size: 1.3rem;
    margin-top: -6.8vw;
    width: 20vw;
    margin-left: 19vw;
}
#foot36{
    margin-top: -11vw;
    margin-left: 35vw;
    font-size: 1.2rem;

    
}
#foot41{
    width: 51vw;
    margin-left: 14vw;
    border-radius: 26vw;
    
}
#foot42{
    font-size: 2.1rem;
    margin-left: -2vw;
    
}
.face{
    font-size: 2rem;
    padding: 6px 14px;
    margin-left: -3vw;
}
.twit{
    font-size: 2rem;
    padding: 6px 9px; 
    margin-left: 8vw;
}
.insta{
    font-size: 2rem;
    padding: 7px 10px;
    margin-left: 8vw;
}
.lin{
    font-size: 2rem;
    padding: 6px 10px;
    margin-left: 8vw;
   
} 
}


/* ==================iphone 6/7/8 plus============================================= */

@media only screen and (min-width:412px) and (max-width:414vw) and (orientation:portrait){
    .rahul{
        height: 22vw;
    }
    .navbar{
        height: 22vw;
    }
    .navbar-nav{
        margin-left: -1.3vw;
        background-color: aliceblue;
    }
    .nav-link{
        font-size: 1.7rem;
        text-align: center;
        border-bottom: 1px solid black;
    }
    .rn{
        font-size: 2.2rem;
        margin-left: -5vw;
    }
    .logo{
        display: none;
    }
    .icon{
        display: none;
    }
   .navbar-toggler-icon{
       width: 9.5vw;
       height: 9.5vw;
   }
    .box{
        width: 90vw;
        height: 193vw;
    }
    #box1{
        width: 84vw;
        height: 36vw;
        border: 2px solid black;
    }
    #paira{
        font-size: 7vw;
    }
    .box2{
        font-size: 1.2rem
    }
    .know{
        margin-left: 32vw;
            font-size: 1.2rem;
            margin-top: 7vw;
    }
    #about{
        font-size: 2rem;
    }
    #about1{
        font-size: 1.2rem;
    }
    .boxl{
        width: 90vw;
        height: 175vw;
        margin-top: 8vw;
    }
    .boxl1{
        width: 35vw;
        margin-left: 27vw;
    }
    .our{
        margin-top: -8vw;
    }
    .boxl2{
        font-size: 1.2rem;
    }
    .our1{
        font-size: 1.5rem;
        margin-top: 200vw;
        margin-left: 26vw;
    }
    .main{
        margin-top: 207vw;
        display: block;
    }
    .main1{
        width: 87vw;
        height: 81vw;
        margin-top: 7vw;
    }
    .box-img{
        width: 86vw;
        height: 55vw;
    }
    .ab{
        font-size: 3.5rem;
        margin-left: 23vw;
    }
    .co{
        font-size: 2.5rem;
    }
    .foot{
        margin-top: 520vw;
        height: 226vw;
    }
    .foot1{
        margin-top: 210vw;
        margin-left: 16vw;
    }
    #foot21{
        font-size: 2rem;
        margin-left: 4vw;
        margin-top: 68vw;
    }
    #foot22{
        font-size: 1.1rem;
        margin-left: 4vw;
    }
    #foot31{
        font-size: 2rem;
        margin-left: 8vw;
        margin-top: 126vw;
    }
    .fa-home{
        margin-left: 8vw;
        font-size: 3.5rem;
    }
    #foot32{
        font-size: 1.5rem;
        margin-left: 23vw;
        margin-top: -8vw;
        
    }
    #foot33{
        font-size: 1.5rem;
        margin-left: 23vw;
        
    }
    #foot34{
        font-size: 2.5rem;
        margin-left: 8vw;
        
    }
    #foot35{
        font-size: 1.5rem;
        margin-top: -7.5vw;
        width: 20vw;
        margin-left: 18vw;
    }
    #foot36{
        margin-top: -11.2vw;
        margin-left: 36vw;
        font-size: 1.2rem;

        
    }
    #foot41{
        width: 51vw;
        margin-left: 14vw;
        border-radius: 26vw;
        
    }
    #foot42{
        font-size: 2.1rem;
        margin-left: 1vw;
        
    }
    .face{
        font-size: 2rem;
        padding: 6px 14px;
        margin-left: -3vw;
    }
    .twit{
        font-size: 2rem;
        padding: 6px 9px; 
        margin-left: 8vw;
    }
    .insta{
        font-size: 2rem;
        padding: 7px 10px;
        margin-left: 8vw;
    }
    .lin{
        font-size: 2rem;
        padding: 7px 11px;
        margin-left: 8vw;
       
    }
    
}




/* =======================iphone X========================================== */
@media only screen and (min-width:374px) and (max-width:408px) and (orientation:portrait){
   .rahul{
       height: 22vw;
   }
    .navbar{
        height: 22vw;
    }
    .navbar-nav{
        margin-left: -1.3vw;
        background-color: aliceblue;
    }
    .nav-link{
        font-size: 1.7rem;
        text-align: center;
        border-bottom: 1px solid black;
    }
    .rn{
        font-size: 2rem;
        margin-left: -3vw;
    }
    .logo{
        display: none;
    }
    .icon{
        display: none;
    }
   .navbar-toggler-icon{
       width: 9.5vw;
       height: 9.5vw;
   }
    .box{
        width: 90vw;
        height: 215vw;
    }
    #box1{
        width: 84vw;
        height: 36vw;
        border: 2px solid black;
    }
    #paira{
        font-size: 7vw;
    }
    .box2{
        font-size: 1.2rem
    }
    .know{
        margin-left: 32vw;
            font-size: 1.2rem;
            margin-top: 7vw;
    }
    #about{
        font-size: 2rem;
    }
    #about1{
        font-size: 1.2rem;
    }
    .boxl{
        width: 90vw;
        height: 204vw;
        margin-top: 8vw;
    }
    .boxl1{
        width: 35vw;
        margin-left: 27vw;
    }
    .our{
        margin-top: 14vw;
    }
    .boxl2{
        font-size: 1.2rem;
    }
    .our1{
        font-size: 1.5rem;
        margin-top: 200vw;
        margin-left: 26vw;
    }
    .main{
        margin-top: 207vw;
        display: block;
        margin-left: 4vw;
    }
    .main1{
        width: 87vw;
        height: 81vw;
        margin-top: 7vw;
    }
    .box-img{
        width: 86vw;
        height: 55vw;
    }
    .ab{
        font-size: 3.5rem;
        margin-left: 23vw;
    }
    .co{
        font-size: 2.5rem;
    }
    .foot{
        margin-top: 520vw;
        height: 251vw;
    }
    .foot1{
        margin-top: 222vw;
        margin-left: 13vw;
    }
    #foot21{
        font-size: 2rem;
        margin-left: 4vw;
        margin-top: 68vw;
    }
    #foot22{
        font-size: 1rem;
        margin-left: 4vw;
    }
    #foot31{
        font-size: 2rem;
        margin-left: 8vw;
        margin-top: 126vw;
    }
    .fa-home{
        margin-left: 8vw;
        font-size: 3.5rem;
    }
    #foot32{
        font-size: 1.5rem;
        margin-left: 23vw;
        margin-top: -8vw;
        
    }
    #foot33{
        font-size: 1.5rem;
        margin-left: 23vw;
        
    }
    #foot34{
        font-size: 2.5rem;
        margin-left: 8vw;
        
    }
    #foot35{
        font-size: 1.3rem;
        margin-top: -7.5vw;
        width: 20vw;
        margin-left: 19vw;
    }
    #foot36{
        margin-top: -11.2vw;
        margin-left: 36vw;
        font-size: 1rem;

        
    }
    #foot41{
        width: 51vw;
        margin-left: 14vw;
        border-radius: 26vw;
        
    }
    #foot42{
        font-size: 2.1rem;
        margin-left: -2vw;
        
    }
    .face{
        font-size: 2rem;
        padding: 6px 14px;
        margin-left: -3vw;
    }
    .twit{
        font-size: 2rem;
        padding: 6px 9px; 
        margin-left: 8vw;
    }
    .insta{
        font-size: 2rem;
        padding: 7px 10px;
        margin-left: 8vw;
    }
    .lin{
        font-size: 2rem;
        padding: 6px 10px;
        margin-left: 8vw;
       
    }
    
}


/* ===========================ipad======================================== */

@media only screen and (min-width:765px) and (max-width:768px) and (orientation:portrait){
  
    .rahul{
        height: 22vw;
    }
    .navbar{
        height: 22vw;
    }
    .navbar-nav{
        margin-left: -1.3vw;
        background-color: aliceblue;
    }
    .nav-link{
        font-size: 3.5rem;
        text-align: center;
        border-bottom: 1px solid black;
    }
    .rn{
        font-size: 4.5rem;
        margin-left: -3vw;
    }
    .logo{
        display: none;
    }
    .icon{
        display: none;
    }
   .navbar-toggler-icon{
       width: 9.5vw;
       height: 9.5vw;
   }
    .box{
        width: 90vw;
        height: 166vw;
    }
    #box1{
        width: 84vw;
        height: 36vw;
        border: 2px solid black;
    }
    #paira{
        font-size: 7vw;
    }
    .box2{
        font-size: 2rem
    }
    .know{
        margin-left: 32vw;
            font-size: 2rem;
            margin-top: 7vw;
    }
    #about{
        font-size: 3.5rem;
    }
    #about1{
        font-size: 2rem;
    }
    .boxl{
        width: 90vw;
        height: 149vw;
        margin-top: 8vw;
    }
    .boxl1{
        width: 35vw;
        margin-left: 27vw;
    }
    .our{
        margin-top: -36vw;
    }
    .boxl2{
        font-size: 2rem;
    }
    .our1{
        font-size: 3rem;
        margin-top: 200vw;
        margin-left: 26vw;
    }
    .main{
        margin-top: 207vw;
        display: block;
    }
    .main1{
        width: 87vw;
        height: 81vw;
        margin-top: 7vw;
    }
    .box-img{
        width: 86vw;
        height: 55vw;
    }
    .ab{
        font-size: 3.5rem;
        margin-left: 23vw;
    }
    .co{
        font-size: 2.5rem;
    }
    .foot{
        margin-top: 520vw;
        height: 226vw;
    }
    .foot1{
        margin-top: 206vw;
        margin-left: 18vw;
    }
    #foot21{
        font-size: 4rem;
        margin-left: 4vw;
        margin-top: 68vw;
    }
    #foot22{
        font-size: 2rem;
        margin-left: 4vw;
    }
    #foot31{
        font-size: 4rem;
        margin-left: 8vw;
        margin-top: 126vw;
    }
    .fa-home{
        margin-left: 8vw;
        font-size: 5rem;
    }
    #foot32{
        font-size: 2.7rem;
        margin-left: 20vw;
        margin-top: -7vw;
        
    }
    #foot33{
        font-size: 2.7rem;
        margin-left: 20vw;
        
    }
    #foot34{
        font-size: 4rem;
        margin-left: 8vw;
        
    }
    #foot35{
        font-size: 3rem;
        margin-top: -8.3vw;
        width: 20vw;
        margin-left: 18vw;
    }
    #foot36{
        margin-top: -9vw;
        margin-left: 39vw;
        font-size: 2rem;

        
    }
    #foot41{
        width: 51vw;
        margin-left: 14vw;
        border-radius: 26vw;
        
    }
    #foot42{
        font-size: 4rem;
        margin-left: 1vw;
        
    }
    .face{
        font-size: 3.5rem;
        padding: 11px 25px;
        margin-left: -3vw;
    }
    .twit{
        font-size: 3.5rem;
        padding: 11px 14px; 
        margin-left: 8vw;
    }
    .insta{
        font-size: 3.5rem;
        padding: 11px 17px;
        margin-left: 8vw;
    }
    .lin{
        font-size: 3.5rem;
        padding: 11px 17px;
        margin-left: 8vw;
       
    }
    
}



/* ================================ipad pro========================== */


@media only screen and (min-width:990px) and (max-width:1024px) and (orientation:portrait) {
   
    .navbar-nav{
        height: 6vw;
        margin-top: 25vw;
        margin-left: -26.3vw;

    }
    .logo{
        width: 22vw;
        height: 18vw;
    }
    .icon{
        display: none;
    }
    .box{
        
        height: 64vw;
        width: 41vw;
        border-radius: 1vw;
    }
    #paira{
        font-size: 3vw;
    }
    #box1{
        width: 36vw;
        height: 17vw;
    }
    .boxl{
        margin-top: -64vw;
        height: 64vw;
        width: 40.3vw;
        border-radius: 1vw;
        
    }
    #about{
        font-size: 3vw;
    }
    .boxl1{
        margin-top: 0%;
        width: 19vw;
        margin-left: 10vw;
    }
    .know{
        margin-left: 14vw;
        font-size: 1.3rem;
    }
    .our{
        margin-top: 4vw;
    }
    .our1{
        font-size: 3rem;
        margin-top: 6vw;
        margin-left: 31vw;
    }
    .ab{
        font-size: 4.2rem;
        margin-left: 25vw;
    }
    .co{
        font-size: 3.5rem;
    }
    .foot{
        height: 242vw;
    }
    .foot1{
        margin-top: 222vw;
    }
    
    #foot21{
        font-size: 5rem;
        margin-left: 4vw;
    }
    #foot22{
        font-size: 2.7rem;
        margin-left: 4vw;
    }
    #foot31{
        font-size: 5rem;
        margin-left: 8vw;
    }
    #foot32{
        font-size: 3rem;
        
    }
    #foot33{
        font-size: 2.7rem;
        
    }
    #foot35{
        font-size: 3rem;
        margin-top: -6.4vw;
        
    }
    #foot36{
        font-size: 2.4rem;
        margin-top: -7.5vw;
        margin-left: 35vw;
        
    }
    #foot42{
        font-size: 5rem;
        margin-left: 3vw;
        
    }
    .face{
        font-size: 4.5rem;
        padding: 10px 27px;
        
    }
    .twit{
        font-size: 4.5rem;
        padding: 11px 14px; 
        margin-left: 8vw;
    }
    .insta{
        font-size: 4.5rem;
        padding: 11px 17px;
        margin-left: 8vw;
    }
    .lin{
        font-size: 4.5rem;
        padding: 11px 17px;
        margin-left: 8vw;
       
    }
    
} 
/* ============================surface duo=============================== */

@media only screen and (min-width:520px) and (max-width:540px) and (orientation:portrait){
   .rn{
       font-size: 3rem;
   }
   .our{
       margin-top: -16vw;
   }
   .our1{
       font-size: 2rem;
    margin-left: 31vw;
   }
   #paira{
       font-size: 6vw;
   }
   .box{
       height: 135vw;
   }
   .box2{
       font-size: 1.2rem;
   }
   #about{
       font-size: 2.5rem;
   }
   #about1{
       font-size: 2rem;
   }
   .boxl{
       height: 168vw;
   }
   .boxl1{
       width: 64vw;
       margin-left: 13vw;
   }
   .boxl2{
       font-size: 1.2rem;
   }

    .foot{
        height: 221vw;
    }
    
    .foot1{
        margin-top: 200vw;
        margin-left: 25vw;
    }
    .foot2{
        margin-top: -14vw;
    }
    #foot21{
        font-size: 3rem;
        margin-top: 83vw;
    }
    #foot22{
        font-size: 1.4rem;
    }
    .foot3{
        margin-top: 124vw;

    }
    #foot31{
        font-size: 3rem;
        margin-top: 3vw;
    }
    #foot32{
        font-size: 1.4rem;
    }
    #foot35{
        margin-top: -5.6vw;
        margin-left: 17vw;
        font-size: 1.5rem;
    }
    #foot36{
        margin-left: 31vw;
        margin-top: -9.2vw;
        font-size: 1.5rem;
    }
    #foot41{
        width: 49vw;
        margin-left: 17vw;
    }
    #foot42{
       font-size: 3rem;
    }

} 


