*{
    padding: 0%;
    margin: 0%;
    list-style: none;
}
.logo{
    position: absolute;
    width: 10vw;
    height: 8.5vw;
    margin-left:0.6vw;
    margin-top: -4.3vw;
    border-radius: 18vw;
}
.rn{
    margin-left: 12vw;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar{
    height: 9vw;
}
.navbar-nav{
    margin-left: 1vw;
}
.nav-link{
    margin-left: 2vw;
    font-size: 1.5rem;
    
}
.drop-down{
    display: none;
}
.drop-down li a{
    color: #000;
    font-size: 1.2rem;
}
.drop-down ul{
    display: block;
    margin-top: 2.8vw;
    width: 150px;
    margin-left: 2vw;
    background-color: green;
}
.navbar-nav li:hover .drop-down {
    display: block;
    position: absolute;

}
.navbar-nav li:hover .drop-down ul li{
    width: 150px;
    line-height: 40px;
    text-align: center;
    margin: 0vw -2.1vw;
    border-bottom: 1px solid black;
}
.drop-down li:hover{
    background-color: aliceblue;
}

.icon{
    position: absolute;
    margin-left: 82vw;
    margin-top: -5vw;
}
a{
    text-decoration: none;
}
.rahul{
    height: 9vw;
}
.for{
    font-size: 1.8rem;
    margin-left: 2vw;
    color: black;
}

.face{
    font-size: 2rem;
    color: white;
    background-color:#393942;
    border: 1px solid black;
    padding: 5px 13px;
    border-radius: 5vw;
    margin-left: 2vw;
}
.twit{
    font-size: 2rem;
    color: white;
    background-color:#393942;
    border: 1px solid black;
    padding: 6px 8px;
    border-radius: 5vw;
    margin-left: 2vw;
}
.insta{
    font-size: 2rem;
    color: white;
    background-color:#393942;
    border: 1px solid black;
    padding: 6px 9px;
    border-radius: 5vw;
    margin-left: 2vw;
}
.lin{
    font-size: 2rem;
    color: white;
    background-color:#393942;
    border: 1px solid black;
    padding: 6px 9px;
    border-radius: 5vw;
    margin-left: 2vw;
}
.carousel-item{
    width: 100%;
    height: 40vw;
}
.mix{
    display: flex;
    margin-top: 2rem;
    margin-left: 6rem;
    
}
.box{
    width: 41%;
    height: auto;
    border-radius: 1vw;
    border: 2px solid black;
}
#paira{
    font-size: 2rem;
    text-align: center;
    margin-top: 1vw;
}
#box1{
    width: 35vw;
    height: 16vw;
    margin-top: 3vw;
    margin-left: 2.5vw;
    border-radius: 0.5vw;
}
.box2{
margin-top: 2vw;
margin-left: 1vw;
}
.boxl{
    margin-left: 8%;
    width: 40%;
    height: auto;
    border-radius: 1vw;
    border: 2px solid black;
}
#about{
    text-align: center;
    font-size: 2rem;
    margin-top: 1vw;
}
.boxl1{
    margin-left: 10vw;
    margin-top: 2vw;
    width: 50%;
}
#about1{
    text-align: center;
    font-size: 1.5rem;
}
.boxl2{
    margin-left: 1vw;
    margin-top: 2vw;
}

.know{
    margin-top: 2vw;
    margin-left: 16vw;
    color: blue;
}

.our{
    width: 100%;
    height: auto;
    margin-top: 2vw;
}  
.our1{
    position: absolute;
    margin-top: 2vw;
    font-size: 2rem;
    margin-left: 40vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}  
   
.main{
    position: absolute;
    margin-top: 8vw;
    display: flex;
    margin-left: 2vw;
    
}
.main1{
    width: 20vw;
    height: 22vw;
    border: 1px solid seashell;
    border-radius: 1vw;
    box-shadow: whitesmoke 3px 3px 3px 3px;

    margin-left: 3vw;
}
.box-img{
    width: 19vw;
    height: 16vw;
    border-radius: 1vw;
    margin-top: 0.3vw;
    margin-left: 0.3vw;
}
.img{
    width: 225px;
    margin-left: 1vw;
    border-radius: 2vw;
}
.foot{
    position: absolute;
    margin-top: 50vw;
    width: 100%;
    height: 30vw;
    background-color: rgb(25, 22, 36);
}
.fooot{
    position: absolute;
    margin-top: 50vw;
    width: 100%;
    height: 30vw;
    background-color: rgb(25, 22, 36);
}
.foot1{
    position: absolute;
    margin-top: 18vw;
    margin-left: 2.5vw;
    
}
.foot2{
    position: absolute;
    color: white;
    margin-left: 4vw;
    
}
#foot21{
    font-size: 3rem;
    margin-top: 3vw;
    margin-left: 32vw;
}
#foot22{
    margin-left: 32vw;
    font-size: 1.5rem;
    font-family: inherit;
}
.foot3{
    position: absolute;
    color: white;
}
#foot31{
    margin-left: 70vw;
    margin-top: 3vw;
    font-size: 3rem;
}
.fa-home{
    margin-left: 73vw;
    font-size: 3rem;
}
#foot32{
    margin-left: 76vw;
    margin-top: -1.6vw;
    font-size: 1.5rem;
}
#foot33{
    margin-left: 76vw;
    
    font-size: 1.5rem;
}
#foot34{
    margin-left: 73.5vw;
    font-size: 2.3rem;   
}
#foot35{
    margin-left: 76.2vw;
    margin-top: -2vw;
    font-size: 1.5rem;   
}
#foot36{
    margin-left: 81vw;
    margin-top: -3vw;
    position: absolute;
    font-size: 1.2rem;
    color: rgb(175, 138, 138) ;
      
}

.foot4{
    position: absolute;
    margin-top: 3vw;
    margin-left: 10vw;
}
#foot41{
    width: 8vw;
    border-radius: 18vw;
}
#foot42{
    color: white;
    font-size: 2.3rem;
    margin-left: -6vw;
    margin-top: 2vw;
   
    
}




/* ==========================about========================================== */

.sch-ab{
    width: 100%;
    height: 40vw;
}
.ab{
    margin-left: 40vw;
    font-size: 2.5rem;
}
.ab1{
    margin-left: 15vw;
    width: 70vw;
    height: 30vw;
    border: 2px solid black;
}




/* ===============contact================================================== */

.sch-co{
    width: 100%;
    height: 60vw;
    background-color:rgb(154, 212, 193);

}
.co{
    text-align: center;
    font-size: 1rem;
    background-color: aquamarine;
}
#co{
    
    font-size: 2.5rem;
}
.co-box{
    display: flex;
    margin-left: 7vw;
}
#co-box{
    margin-left: 6vw;
    width: 20vw;
    height: 15vw;
    background-color: white;
}
.mail{
    font-size: 8rem;
    margin-left: 6vw;
}
.location{
    font-size: 8rem;
    margin-left: 7.5vw;
}

/* ============================gallery==================================== */
.gallery1{
    font-size: 2rem;
    margin-left: 5vw;
}
.cul{
    width: 10vw;
    background-color: red;
    border-bottom: 2px solid black;
    text-align: center;
}
/* ============================admission==================================== */
.admi1{
    font-size: 2rem;
    margin-left: 5vw;
    font-style: italic;
}
.admi2{
    font-size: 2rem;
    margin-left: 5vw;
    color: rgb(86, 86, 182);
}
.admi3{
    font-size: 1.5rem;
    margin-left: 5vw;
    color: rgb(109, 48, 48);
}
.admi4{
    font-size: 1.2rem;
    margin-left: 5vw;
    color: rgb(63, 134, 63);
}
.admi5{
    margin-left: 5vw;
    
}
.admi6{
    margin-left: 10vw;
    
}


/* =======================view mobile================================== */

@media (max-width:765px){
   .rahul{
       height: 21vw;
   }
   .navbar{
       height: 21vw;
   }
   .rn{
       margin-left: -10vw;
       font-size: 1.7rem;
   }
   
 .navbar-nav{
    width: 100vw;
    height: 90vw;
    margin-top: 5vw;
    margin-left: -3.7vw;
    background-color: #f8f9fa;
}
.nav-link{
    text-align: center;
}
    .icon{
        display:none;
    }
    .logo{
        display: none;
        
    }
    .mix{
        display: block;
        margin-left: 1rem;
    }
    
    .box{
        width: 96%;
        height: auto;
        border-radius: 2vw;
    }
    #paira{
        font-size: 5vw;
    }
    #box1{
        width: 95%;
        height: 38vw;
        border-radius: 1vw;
    }
    .boxl{
        width: 96%;
        height: auto;
        border-radius: 2vw;
        margin-left: -0rem;
        margin-top: 1rem;
    }
    .boxl1{
        width: 80%;
    }
    .box12{
        margin-top: 5vw;
    }
    #about{
        font-size: 1.5rem;
    }
    #about1{
        font-size: 1rem;
        margin-top: 3vw;
    }
    .know{
        margin-left: 40%;
    }
    .our{
        margin-top: 14vw;
    }
    .our1{
        margin-top: 5rem;
        font-size: 1.3rem;
        margin-left: 26vw;
    }
    .main{
        flex-direction: column;
        margin-top: 6rem;
    }
    .main1{
        width: 90vw;
        height: 90vw;
        border-radius: 4vw;
        margin-top: 8vw;
    }
    .box-img{
        width: 87vw;
        height: 69vw;
        margin-top: 0.5vw;
        margin-left: 0.5vw;
        border-radius: 3vw;
    }
    .sec{
        display: block;
        margin-top: 631vw;
    }
    .sec1{
        width: 90vw;
        height: 90vw;
        border-radius: 4vw;
        margin-top: 8vw;
    }
    .foot{
        height: 235vw;
        margin-top: 431vw;
    }
    .fooot{
        height: auto;
        margin-top: 0;
    }
    
    .foot1{
        position: absolute;
        display: block;
        margin-top: 218vw;
        margin-left: 2vw;
    }

    .foot2{
        position: absolute;
        color: white;
        margin-left: 4vw;
        
    }
    #foot21{
        font-size: 1.8rem;
        margin-top: 66vw;
        margin-left: 3vw;
    }
    #foot22{
        margin-left: 3vw;
        font-size: 0.9rem;
    }
    
    #foot31{
        margin-left: 7vw;
        margin-top: 122vw;
        font-size: 1.7rem;
    }
    .fa-home{
        margin-left: 9vw;
        font-size: 14vw;
    }
    #foot32{
        margin-left: 26vw;
        margin-top: -8.6vw;
        font-size: 1.3rem;
    }
    #foot33{
        margin-left: 26vw;
        
        font-size: 1.3rem;
    }
    #foot34{
        margin-left: 12vw;
        font-size: 10.5vw;   
    }
    #foot35{
        font-size: 5vw; 
        margin-top: -6.8vw; 
        margin-left: 24vw; 
      
 }
 #foot36{
     margin-left: 40vw;
     margin-top: -11.2vw;
     font-size: 13px;
 }    
    #foot41{
        width: 46vw;
        border-radius: 35vw;
        margin-left: 16vw;
    }
    #foot42{
        color: white;
        font-size: 1.8rem;
        margin-top: 2vw;
        margin-left: -2vw;
       
        
    }
    .face{
        font-size: 1.5rem;
        padding: 4px 10px;
        margin-left: 14vw;
    }
    .twit{
        font-size: 1.5rem;
        padding: 4px 6px;
        margin-left: 6vw;
    }
    .insta{
        font-size: 1.5rem;
        padding: 4px 7px;
        margin-left: 6vw;
    }
    .lin{
        font-size: 1.5rem;
        padding: 4px 6.5px;
        margin-left: 6vw;
    }
    .sch-ab{
        margin-top: -8vw;
        height: 150vw;
    }
    .ab{
        margin-left: 25vw;
        font-size: 1.4rem;
        margin-top: 10vw;
    }
    
    .co{
        font-size: 1rem;
        
    }
    #co{
        font-size: 2rem;
        margin-top: -5vw;
    }
    .sch-co{
        height: 300vw;
    }
    .co-box{
        display: block;
        margin-left: -0.1vw;
    }
    #co-box{
        margin-top: 4vw;
        width: 88vw;
        height: 39vw;
    }

    .mail{
        font-size: 4rem;
        margin-left: 35vw;
        
    }
    .location{
        font-size: 5rem;
        margin-left: 38vw;
    }
    #co-box1{
        text-align: center;
        color: black;
        
    }
    #co-p{
        margin-top: -4vw;
        text-align: center;
    }
    
} 

